
        .game-box {
            text-align:center;   
        }
        .game-info {
            text-align:center; 
            font-family:arial;
            line-height:24px;
        }
      body{
        background: #181818;
        color: white;
      }
